{% extends 'blog/base.html' %}
{% block title %}{{ article.article_title}}{% endblock%}
{% block nav %}
  <li><a href="{% url 'index' %}">Home</a></li>
  <li><a href="/about/">About</a></li>
  <li><a href="/contact/">Contact</a></li>
{% endblock %}
{% block col %}<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{% endblock %}
{% block content %}
  <article>
    <h2 class="post-title"><a href='#'>{{ article.article_title}} </a></h2>
    <div class="post-inform">
      {{article.published_date}}
    </div>
    <p>{{ article.article_text|linebreaks }}</p>
  </article>
{% endblock %}
